node_modules
Homestead.yaml
Homestead.json
.env
/.idea/
.project
/public/temp/
/public/ueditor-plus/
/public/ueditor-plus-doc/
/storage/install.lock
/storage/backup/
.DS_Store
bootstrap/config.php
deploy-*.txt
_delete_.*
