APP_ENV=product
APP_DEBUG=true
APP_KEY=4LmYVxyQ0twIjPtNguwEgxDN68oEhBYH

DB_HOST=localhost
DB_DATABASE=database
DB_USERNAME=root
DB_PASSWORD=123456
DB_PREFIX=

CACHE_DRIVER=file
SESSION_DRIVER=file

ADMIN_PATH=/admin/


