APP_ENV=product
APP_DEBUG=true
APP_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
ENCRYPT_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=database
DB_USERNAME=root
DB_PASSWORD=123456
DB_PREFIX=

CACHE_DRIVER=file
SESSION_DRIVER=file

ADMIN_PATH=/admin/


